flows_beaglebone.json
[{"type":"tab","id":"7e17a404.81e85c","label":"CANserver"},{"id":"bf506795.40af98","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"3e12cfdd.c1ed3","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"9c11fc2a.63ee","type":"serial in","name":"CANmoduleReader","serial":"bf506795.40af98","x":102,"y":119,"z":"7e17a404.81e85c","wires":[["f548a41e.0ab758"]]},{"id":"b996fe2d.4669","type":"debug","name":"Debug","active":true,"console":"true","complete":"payload","x":433,"y":158,"z":"7e17a404.81e85c","wires":[]},{"id":"f548a41e.0ab758","type":"function","name":"Timing","func":"var v = new Date();\nmsg.topic=\"message\"\nmsg.payload = \"{\\\"Time\\\": \\\"\" + (v.getTime()) + \"\\\",\" + String(msg.payload).trim()+\"}\";\nmsg.payload=JSON.parse(msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":158,"z":"7e17a404.81e85c","wires":[["b996fe2d.4669","2a863d40.d579c2"]]},{"id":"2a863d40.d579c2","type":"mqtt out","name":"mqttNotification","topic":"CANmessage","qos":"","retain":"","broker":"3e12cfdd.c1ed3","x":407,"y":228,"z":"7e17a404.81e85c","wires":[]}]