tt/.flows_beaglebone.json.backup
[{"type":"tab","id":"c8c0ee10.373f1","label":"Sheet 1"},{"id":"7c12721f.83ed8c","type":"sensorTag","name":"sensorTag","topic":"payload","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":186,"y":96,"z":"c8c0ee10.373f1","wires":[["27a318d6.d85ce8","59cb8090.a6348"]]},{"id":"7c339790.83cc68","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":612,"y":182,"z":"c8c0ee10.373f1","wires":[]},{"id":"27a318d6.d85ce8","type":"switch","name":"filter","property":"payload.object","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":354,"y":147,"z":"c8c0ee10.373f1","wires":[["96fb22f6.6904e"]]},{"id":"96fb22f6.6904e","type":"function","name":"","func":"msg.topic=\"message\"\nmsg.payload = \"{\\\"object\\\": \\\"\" + msg.payload.object +\"\\\"}\";\nmsg.payload=JSON.parse(msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":101,"z":"c8c0ee10.373f1","wires":[["7c339790.83cc68"]]},{"id":"59cb8090.a6348","type":"switch","name":"","property":"payload.temperature","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":346,"y":225,"z":"c8c0ee10.373f1","wires":[["1130c3f0.eecf3c"]]},{"id":"1130c3f0.eecf3c","type":"function","name":"","func":"msg.topic=\"message\"\nmsg.payload = \"{\\\"ambient\\\": \\\"\" + msg.payload.temperature +\"\\\"}\";\nmsg.payload=JSON.parse(msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":306,"z":"c8c0ee10.373f1","wires":[["7c339790.83cc68"]]}]