tt/flows_beaglebone.json
[{"type":"tab","id":"c8c0ee10.373f1","label":"Sheet 1"},{"id":"cd07657d.32f898","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"7c12721f.83ed8c","type":"sensorTag","name":"sensorTag","topic":"payload","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":261,"y":223,"z":"c8c0ee10.373f1","wires":[["7c339790.83cc68","a523f1f9.5adc1","350a1e07.caf5e2"]]},{"id":"7c339790.83cc68","type":"debug","name":"Debug","active":false,"console":"false","complete":"true","x":515,"y":196,"z":"c8c0ee10.373f1","wires":[]},{"id":"a523f1f9.5adc1","type":"mqtt out","name":"local mqtt","topic":"","qos":"0","retain":"","broker":"cd07657d.32f898","x":524,"y":251,"z":"c8c0ee10.373f1","wires":[]},{"id":"350a1e07.caf5e2","type":"switch","name":"","property":"topic","rules":[{"t":"cont","v":"keys"}],"checkall":"true","outputs":1,"x":393,"y":356,"z":"c8c0ee10.373f1","wires":[["f1cbade8.0e345"]]},{"id":"f1cbade8.0e345","type":"debug","name":"","active":true,"console":"false","complete":"false","x":570,"y":354,"z":"c8c0ee10.373f1","wires":[]}]