tt/flows_beaglebone.json
[{"type":"tab","id":"c8c0ee10.373f1","label":"Sheet 1"},{"id":"7c12721f.83ed8c","type":"sensorTag","name":"sensorTag","topic":"payload","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":120,"y":226,"z":"c8c0ee10.373f1","wires":[["27a318d6.d85ce8","59cb8090.a6348","10131147.efecef"]]},{"id":"7c339790.83cc68","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":725,"y":225,"z":"c8c0ee10.373f1","wires":[]},{"id":"27a318d6.d85ce8","type":"switch","name":"filter object","property":"payload.object","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":338,"y":147,"z":"c8c0ee10.373f1","wires":[["96fb22f6.6904e"]]},{"id":"96fb22f6.6904e","type":"function","name":"format object","func":"msg.topic=\"message\"\nmsg.payload = \"{\\\"object\\\": \\\"\" + msg.payload.object +\"\\\"}\";\nmsg.payload=JSON.parse(msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":146,"z":"c8c0ee10.373f1","wires":[["7c339790.83cc68"]]},{"id":"59cb8090.a6348","type":"switch","name":"filter ambient","property":"payload.temperature","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":334,"y":224,"z":"c8c0ee10.373f1","wires":[["1130c3f0.eecf3c"]]},{"id":"1130c3f0.eecf3c","type":"function","name":"format ambient","func":"msg.topic=\"message\"\nmsg.payload = \"{\\\"ambient\\\": \\\"\" + msg.payload.temperature +\"\\\"}\";\nmsg.payload=JSON.parse(msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":224,"z":"c8c0ee10.373f1","wires":[["7c339790.83cc68"]]},{"id":"10131147.efecef","type":"switch","name":"filter pressure","property":"payload.pressure","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":336,"y":317,"z":"c8c0ee10.373f1","wires":[["23986f3a.dc679"]]},{"id":"23986f3a.dc679","type":"function","name":"format pressure","func":"msg.topic=\"message\"\nmsg.payload = \"{\\\"pressure\\\": \\\"\" + msg.payload.pressure +\"\\\"}\";\nmsg.payload=JSON.parse(msg.payload);\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":527,"y":318,"z":"c8c0ee10.373f1","wires":[["7c339790.83cc68"]]}]